<h1><%= current_user.first_name %>'s Kart</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% item_ids = @selections.pluck(:item_id) %>
    <% items_ids = item_ids.uniq %>
    <% items_ids.each do |one_item| %>
      <% item = Item.find_by(id: one_item) %>
      <tr>
        <td><%= link_to item.name, item_url(item.id) %></td>
        <% id = item.id %>
        <% multiples = Selection.where(item_id: id) %>
        <td><%= multiples.count %></td>
        <td>$<%= item.price %></td>
        <td>$<%= item.price * multiples.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Selection', new_selection_path %>
