<div class="store-container">
    <% @items.each do |item| %>
    <div class="item-holder">
      <div class="pic"><%= item.pic %></div><br>
      <p class="name"><%= item.name %></p>
      <p class="price"><%= item.price %></p>
      <%= link_to 'Show', item %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
  </ul>
</div>

<%= link_to 'New Item', new_item_path %>
