<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @item.desc %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @item.pic %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Add to Cart', new_selection_url(item_id: @item.id) %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
