<div class="nav-container">
  <div id="nav-columns">

  <div class="hm">
        <% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', :class => "nav-item" %>
        <% else %>
  <%= link_to 'Sign In', new_user_session_path, :class => "nav-item" %>
        <% end %>


  </div>
    <div><%= link_to 'Browse the Store', items_url, :class => "nav-item" %>
    </div>

  <div><%= link_to 'Account Details', selections_url, :class => "nav-item" %></div>

   <div><%= link_to 'My Cart', selections_url, :class => "nav-item", :id => "mycart" %>
   </div>
</div>
      <!-- Left Nav Section -->
</div>

</div>
