<div class="nav-container">
  <div id="nav-columns">

  <div class="hm">
        <% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', :class => "nav-item" %>
        <% else %>
<%= link_to 'Sign In', new_user_session_path, :class => "nav-item" %>
        <% end %>


  </div>



    <div><%= link_to 'Browse the Store', items_url, :class => "nav-item" %></div>



  <div><%= link_to 'Account Details', selections_url, :class => "nav-item" %></div>

   <div><%= link_to 'Contact', selections_url, :class => "nav-item" %></div>
        <!-- <i class="fa fa-shopping-cart nav"></i> -->
</div>
      <!-- Left Nav Section -->
</div>

        <!-- Uncomment to include a search bar -->
        <!-- <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
          </div>
        </li> -->

</div>
