<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Nerdz-R-Us" %></title>

  </head>

  <body>
    <ul class="rockets">
  <li><i class="fa fa-rocket" id="logo"></i></li>
  <li><i class="fa fa-rocket" id="logo"></i></li>
  <li><i class="fa fa-rocket" id="logo"></i></li>
  <li><i class="fa fa-rocket" id="logo"></i></li>
  <li><i class="fa fa-rocket" id="logo"></i></li>
  <li><i class="fa fa-rocket" id="logo"></i></li>
</ul>
  <h1 class="logo-name">Nerds 'R' Us</h1>

	<%= render "layouts/header" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
